.Randomone {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.Randomone2 {
  display: flex;
  justify-content: space-around;
  margin: 40px;
}

.latesttext {
  margin-left: 50px;
  margin-top: 30px;
}
