.registerpage {
  display: flex;
  padding: 50px;
  margin: 40px;
  gap: 40px;
  background-color: #2a2b2f;
  border-radius: 20px;
}

.username {
  background-color: #2a2b2f;
}

.divcolor {
  background-color: #2a2b2f;
}

.formcolor {
  background-color: #2a2b2f;
}

.labelcolor2 {
  background-color: #2a2b2f;
}

.button {
  background-color: #a99159;
}
