.background {
  display: flex;
  align-items: center;
  background-color: #2a2b2f;
  border-radius: 70px;
  padding: 20px;
  margin: 50px;
  justify-content: space-between;
  h1 {
    background-color: #2a2b2f;
    padding: 20px;
  }
}

.im {
  padding: 40px;
  background-color: #2a2b2f;
}

.background2 {
  margin-top: 20px;
  background-color: #2a2b2f;
}

.textbackground {
  background-color: #2a2b2f;
}

.textbackground2 {
  background-color: #2a2b2f;
  padding: 10px;
  h2 {
    background-color: #2a2b2f;
  }
}

.link {
  background-color: #a99159;
  padding: 10px;
  border-radius: 60px;
}
