.background {
  display: flex;
  width: 1036px;
  height: 524px;
  left: 92px;
  top: 274px;

  background: #2a2b2f;
  border-radius: 70px;
  margin: 50px;

  img {
    width: 200px;
    align-items: center;
  }

  div {
    background-color: #2a2b2f;
  }
}

.background2 {
  background-color: #2a2b2f;
}
